<!DOCTYPE html>
<html lang="en" ng-app="cruzModel">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    <body>
        <input type="text" name="" id="" ng-model="UserName" placeholder="Enter your name">
        <p>Your name is: {{UserName}}</p>
         
        <!-- ng-init and ng-repeat -->
        <div ng-init="names=['onyeka', 'mmesomma', 'cruz', 'pablo', 'henry']">
            <ul>
                <li ng-repeat="name in names">{{name}}</li>
            </ul>
        </div>
        <!-- /ng-init and ng-repeat -->

        <!-- ng-controller -->
        <div ng-controller="cruzController">
            <p>{{message}}</p>  <!-- Passing a data from the controller in the js file -->
            
            <ul>
                <li ng-repeat="ninja in ninjas">{{ninja.name}}</li>
            </ul>

            <!-- filter -->

                <!-- orderBy -->
                <ul>
                    <li ng-repeat="ninja in ninjas | orderBy: 'name'">{{ninja.name}}</li>
                </ul>

                <!-- Desending -->
                <ul>
                    <li ng-repeat="ninja in ninjas | orderBy: '-name'">{{ninja.name}}</li>
                </ul>
                <!-- /Desending -->

                <!-- currency -->
                <ul>
                    <li ng-repeat="ninja in ninjas | orderBy: '-name'">
                        {{ninja.name}} - {{ninja.rate | currency }}
                    </li>
                </ul>
                <!-- /currency -->

            <!-- /filter -->
        </div>
        <!-- /ng-controller -->
    </body>
    <script src="js/ang.js"></script>
</html>