*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 657px;
}
#contain{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f0f0;
}
#input{
    width: 25%;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 20px rgb(184, 184, 184);
    outline: none;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#btn{
    background-color: #fff;
    width: 12%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    box-shadow: 1px 1px 20px rgb(184, 184, 184);
    border: 1px solid #c7c7c7;
    cursor: pointer;
}